body,
html {
  height: 100%;
}
.bg {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fhelp.meetup.com%2Fhc%2Fen-us%2Fsections%2F360004946011-Creating-and-managing-events&psig=AOvVaw2vjQ36NP8tRJQAJjVNzs5t&ust=1631973223756000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIDIiJmUhvMCFQAAAAAdAAAAABAQ");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
